{{- define "base" -}}
<!DOCTYPE html>
<html lang="{{.Locale}}">
<head>
    <meta charset="UTF-8">
    <title>OoT Randomizer Ladder</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property=og:description content="{{t .Locale "The Legend of Zelda: Ocarina of Time Randomizer racing leagues."}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ootrladder.com/" />

    <link rel="stylesheet" href="{{assetURL "css/bulma.min.css"}}" integrity="{{assetIntegrity "css/bulma.min.css"}}" />
    <link rel="stylesheet" href="{{assetURL "css/main.css"}}" integrity="{{assetIntegrity "css/main.css"}}" />
    <link rel="stylesheet" href="{{assetURL "css/remixicon.css"}}" integrity="{{assetIntegrity "css/remixicon.css"}}" />

    <link href="https://fonts.googleapis.com/css?family=Jost:400,400i,700,900&display=swap&subset=latin-ext" rel="stylesheet">
</head>
<body>
    {{- template "content" . -}}
</body>
</html>
{{- end -}}
