{{- define "footer" -}}
<footer class="footer">
    <div class="content has-text-centered">
        <ul class="FooterLinks">
            <li class="FooterLinks--link">
                <a class="Link--icon__discord" href="https://discord.gg/yZtdURz" target="_blank"></a>
            </li>
            <li class="FooterLinks--link">
                <a class="Link--icon__github" href="https://github.com/OOTR-Ladder/kaepora" target="_blank"></a>
            </li>
        </ul>
    </div>
</footer>
{{- end -}}