{{define "menu"}}
<header class="js-navbar navbar is-transparent is-spaced" role="navigation" aria-label="main navigation">
    {{if .AuthenticatedPlayer }}
    <div class="Logo AuthenticatedPlayer">
    {{else}}
    <div class="Logo">
    {{end}}
        <a href="{{uri .Locale}}" class="Logo--link">
            <img src="/_/img/logo.png" alt="logo" width="32" height="32" />
            <div>
                <span>OoTR Ladder</span>
                {{if .AuthenticatedPlayer }}<span class="heading">{{t .Locale "Logged in as"}} {{.AuthenticatedPlayer.Name}}</span>{{end}}
            </div>
        </a>
    </div>

    <div class="navContainer">
        <nav class="navContainer--navbar">
            <ul class="ladderNav">
                <li class="ladderNav--item__has-sub">
                    <a href="#" tabindex="1">
                        <i class="ladderNav--icon__flag"></i>
                        {{t .Locale "Races"}}
                    </a>

                    <ul class="ladderNav--sub">
                        <li class="ladderNav--item">
                            <a href="{{uri .Locale "schedule"}}">{{t .Locale "Schedule"}}</a>
                        </li>
                        <li class="ladderNav--item">
                            <a href="{{uri .Locale "sessions"}}">{{t .Locale "Races history"}}</a>
                        </li>
                    </ul>
                </li>
                <li class="ladderNav--item__has-sub">
                    <a href="#" tabindex="1">
                        <i class="ladderNav--icon__leaderboard"></i>
                        {{t .Locale "Rankings"}}
                    </a>

                    <ul class="ladderNav--sub">
                        {{range $v := .Leagues}}
                            <li class="ladderNav--item">
                                <a href="{{uri $.Locale "leaderboard" $v.ShortCode}}">{{$v.Name}}</a>
                            </li>
                        {{end}}
                    </ul>
                </li>
                <li class="ladderNav--item__has-sub">
                    <a href="#" tabindex="1">
                        <i class="ladderNav--icon__stats"></i>
                        {{t .Locale "Stats"}}
                    </a>

                    <ul class="ladderNav--sub">
                        {{range $v := .Leagues}}
                            <li class="ladderNav--item">
                                <a href="{{uri $.Locale "stats" $v.ShortCode}}">{{$v.Name}}</a>
                            </li>
                        {{end}}
                    </ul>
                </li>
                <li class="ladderNav--item__has-sub">
                    <a href="#" tabindex="1">
                        <i class="ladderNav--icon__doc"></i>
                        {{t .Locale "Resources"}}
                    </a>

                    <ul class="ladderNav--sub">
                        <li class="ladderNav--item">
                            <a href="{{uri .Locale "documentation"}}">{{t .Locale "Documentation"}}</a>
                        </li>
                        <li class="ladderNav--item">
                            <a href="{{uri .Locale "rules"}}">{{t .Locale "Rules"}}</a>
                        </li>
                        <li class="ladderNav--item">
                            <a href="{{uri .Locale "shuffled-settings"}}">{{t .Locale "Shuffled Settings"}}</a>
                        </li>
                        <li class="ladderNav--item">
                            <a href="https://discord.gg/yZtdURz" target="_blank">{{t .Locale "Discord Server"}}</a>
                        </li>
                    </ul>
                </li>
                {{if .AuthenticatedPlayer }}
                    <li class="ladderNav--item__has-sub">
                        <a href="#" tabindex="1">
                            <i class="ladderNav--icon__account"></i>
                            {{t .Locale "Account"}}
                        </a>

                        <ul class="ladderNav--sub">
                            <li class="ladderNav--item">
                                <a href="{{uri .Locale "player"}}/{{.AuthenticatedPlayer.Name}}">{{t .Locale "My profile"}}</a>
                            </li>
                            <li class="ladderNav--item__logout">
                                <a href="/auth/logout">{{t .Locale "Sign out"}}</a>
                            </li>
                        </ul>
                    </li>
                {{else}}
                    <li class="ladderNav--item">
                        <a href="/auth/oauth2/discord">
                            <i class="ladderNav--icon__account"></i>
                            {{t .Locale "Sign in"}}
                        </a>
                    </li>
                {{end}}
            </ul>
        </nav>
    </div>
</header>
{{end}}
