{{define "menu"}}
<header class="navbar is-transparent is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="{{uri .Locale}}" class="navbar-item">
            <img src="/_/img/logo.png" alt="logo" width="32" height="32" />
            OoTR Ladder
        </a>
    </div>

    <div id="mainMenu" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="{{uri .Locale "schedule" }}">{{t .Locale "Schedule"}}</a>

            <div class="navbar-item has-dropdown is-hoverable">
                <span class="navbar-link">{{t .Locale "Leaderboards"}}</span>

                <div class="navbar-dropdown is-boxed">
                    {{range $v := .Leagues}}
                        <a href="{{uri $.Locale "leaderboard" $v.ShortCode}}" class="navbar-item has-text-dark">{{$v.Name}}</a>
                    {{end}}
                </div>
            </div>

            <a class="navbar-item" href="{{uri .Locale "documentation"}}">{{t .Locale "Documentation"}}</a>
            <a class="navbar-item" href="{{uri .Locale "rules"}}">{{t .Locale "Rules"}}</a>

            <div class="navbar-item">
                <a href="https://discord.gg/yZtdURz" target="_blank" class="button">
                    <span class="icon">
                        <i class="ri-discord-fill"></i>
                    </span>
                    <span>{{t .Locale "Join the server"}}</span>
                </a>
            </div>
        </div>
    </div>
</header>
{{end}}
