{{define "player_matches"}}

<div id="raceList">
    <div class="tabs">
        <ul>
            <li>
                <a>Beta</a>
            </li>
        </ul>
    </div>
    <div>
        <div class="tab-content">
            <div class="level is-mobile PlayerMatch__win">
                <div class="level-left">
                    <div class="level-item">
                        <div>
                            <span class="PlayerMatch--result">Victoire</span> contre <a href="#" class="PlayerMatch--opponent">Johnnygameshow56</a>
                        </div>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item is-hidden-touch">
                        <span class="tag PlayerMatch--league">Standard</span>
                    </div>
                    <div class="level-item">
                        <a href="#" class="PlayerMatch--spoiler button is-rounded is-small is-outlined is-info is-light">Solution</a>
                    </div>
                </div>
            </div>

            <div class="level is-mobile PlayerMatch__lose">
                <div class="level-left">
                    <div class="level-item">
                        <div>
                            <span class="PlayerMatch--result">Défaite</span> contre <a href="#" class="PlayerMatch--opponent">Johnnygameshow56</a>
                        </div>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <span class="tag PlayerMatch--league is-hidden-touch">Shuffled Settings</span>
                    </div>
                    <div class="level-item">
                        <a href="#" class="PlayerMatch--spoiler button is-rounded is-small is-outlined is-info is-light">Solution</a>
                    </div>
                </div>
            </div>

            <div class="level is-mobile PlayerMatch__tie">
                <div class="level-left">
                    <div class="level-item">
                        <div>
                            <span class="PlayerMatch--result">Égalité</span> contre <a href="#" class="PlayerMatch--opponent">Johnnygameshow56</a>
                        </div>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <span class="tag PlayerMatch--league is-hidden-touch">Shuffled Settings</span>
                    </div>
                    <div class="level-item">
                        <a href="#" class="PlayerMatch--spoiler button is-rounded is-small is-outlined is-info is-light">Solution</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}
