{{define "stats_ladder"}}
<div class="columns is-centered">
    <div class="column is-one-third">
        <ul>
            <li>{{t .Locale "Registered players: %d" .Payload.Misc.RegisteredPlayers}}</li>
            <li>{{t .Locale "Ranked players: %d" .Payload.Misc.RankedPlayers}}</li>
            <li>{{t .Locale "Players on leaderboard: %d" .Payload.Misc.PlayersOnLeaderboard}}</li>
        </ul>
    </div>
    <div class="column is-one-third">
        <ul>
            <li>{{t .Locale "Matches played: %d" .Payload.Misc.SeedsPlayed}}</li>
            <li>{{t .Locale "Forfeits: %d" .Payload.Misc.Forfeits}}</li>
            <li>{{t .Locale "Double forfeits: %d" .Payload.Misc.DoubleForfeits}}</li>
        </ul>
    </div>
    <div class="column is-one-third">
        <ul>
            <li>{{t .Locale "First ladder race: %s" (.Payload.Misc.FirstLadderRace | datetime)}}</li>
            <li>{{t .Locale "Average players per race: %d" .Payload.Misc.AveragePlayersPerRace}}</li>
            <li>{{t .Locale "Most players in a race: %d" .Payload.Misc.MostPlayersInARace}}</li>
        </ul>
    </div>
</div>

{{end}}
