{{define "stats_league"}}
<div class="columns is-centered">
    <div class="column is-one-third">
        <ul>
            <li>{{t .Locale "First ladder race: %s" (.Payload.Misc.FirstLadderRace | datetime) | unsafe}}</li>
            <li>{{t .Locale "Ranked players: %d" .Payload.Misc.RankedPlayers}}</li>
            <li>{{t .Locale "Players on leaderboard: %d" .Payload.Misc.PlayersOnLeaderboard}}</li>
        </ul>
    </div>
    <div class="column is-one-third">
        <ul>
            <li>{{t .Locale "Matches played: %d" .Payload.Misc.SeedsPlayed}}</li>
            <li>{{t .Locale "Forfeits: %d" .Payload.Misc.Forfeits}}</li>
            <li>{{t .Locale "Double forfeits: %d" .Payload.Misc.DoubleForfeits}}</li>
        </ul>
    </div>
    <div class="column is-one-third">
        <ul>
            <li>{{t .Locale "Average players per race: %d" .Payload.Misc.AveragePlayersPerRace}}</li>
            <li>{{t .Locale "Most players in a race: %d" .Payload.Misc.MostPlayersInARace}}</li>
            <li>{{t .Locale "Total time played: %s" .Payload.Misc.TotalSeedTime}}</li>
        </ul>
    </div>
</div>

<div class="columns is-centered">
    <div class="column is-half">
        <table class="table stats--attendance">
            <caption>{{t .Locale "Attendance (avg.)"}}</caption>
            <tr>
                <th>UTC</th>

                <th>{{t .Locale "Monday"}}</th>
                <th>{{t .Locale "Tuesday"}}</th>
                <th>{{t .Locale "Wednesday"}}</th>
                <th>{{t .Locale "Thursday"}}</th>
                <th>{{t .Locale "Friday"}}</th>
                <th>{{t .Locale "Saturday"}}</th>
                <th>{{t .Locale "Sunday"}}</th>
            </tr>

            {{- range $v := .Payload.Attendance -}}
            <tr>
                <th>{{$v.From}}-{{$v.To}}</th>

                <td style="background-color: {{index $v.Color 0}}">{{(index $v.Average 0) | ignoreZero}}</td>
                <td style="background-color: {{index $v.Color 1}}">{{(index $v.Average 1) | ignoreZero}}</td>
                <td style="background-color: {{index $v.Color 2}}">{{(index $v.Average 2) | ignoreZero}}</td>
                <td style="background-color: {{index $v.Color 3}}">{{(index $v.Average 3) | ignoreZero}}</td>
                <td style="background-color: {{index $v.Color 4}}">{{(index $v.Average 4) | ignoreZero}}</td>
                <td style="background-color: {{index $v.Color 5}}">{{(index $v.Average 5) | ignoreZero}}</td>
                <td style="background-color: {{index $v.Color 6}}">{{(index $v.Average 6) | ignoreZero}}</td>
            </tr>
            {{- end -}}
        </table>
    </div>

    <div class="column">
        <p>{{t .Locale "avg. matches per day"}}</p>
        <img src="{{ uri $.Locale "stats" $.Payload.ShortCode "graph" "daily_matches.svg" }}">
    </div>
</div>

<div class="columns is-centered has-text-centered">
    <div class="column">
        <p>{{t .Locale "Seed completion time"}}</p>
        <img src="{{ uri $.Locale "stats" $.Payload.ShortCode "graph" "seedtime.svg" }}">
    </div>
    <div class="column">
        <p>{{t .Locale "Ratings distribution"}}</p>
        <img src="{{ uri $.Locale "stats" $.Payload.ShortCode "graph" "ratings.svg" }}">
    </div>
</div>

{{end}}
