{{define "stats_locations"}}
<div class="long-table-container">
    <h4 class="title">{{t "Items"}}</h4>
    <table class="table is-fullwidth js-table-sortable">
        <thead>
            <tr>
                <th class="sticky is-unselectable">{{t "Location"}}&nbsp;<span>↓</span></th>
                <th class="sticky has-text-right is-unselectable">{{t "% items"}}&nbsp;<span></span></th>
                <th class="sticky has-text-right is-unselectable">{{t "% junk"}}&nbsp;<span></span></th>
                <th class="sticky has-text-right is-unselectable">{{t "% ice traps"}}&nbsp;<span></span></th>
                <th class="sticky has-text-right is-unselectable">{{t "% pieces of heart"}}&nbsp;<span></span></th>
                <th class="sticky has-text-right is-unselectable">{{t "% bombchus"}}&nbsp;<span></span></th>
                <th class="sticky has-text-right is-unselectable">{{t "% small keys"}}&nbsp;<span></span></th>
                <th class="sticky has-text-right is-unselectable">{{t "% boss keys"}}&nbsp;<span></span></th>
                {{if $.Payload.ExtendedStats}}
                <th class="sticky has-text-right is-unselectable">{{t "% songs"}}&nbsp;<span></span></th>
                <th class="sticky has-text-right is-unselectable">{{t "% triforce"}}&nbsp;<span></span></th>
                {{end}}
            </tr>
        </thead>
        <tbody>
            {{- range $v := .Payload.Seed.Locations -}}
            <tr>
                <td>{{$v.Name}}</td>
                <td>{{printf "%.2f" $v.Items}}</td>
                <td>{{printf "%.2f" $v.Junk}}</td>
                <td>{{printf "%.2f" $v.IceTraps}}</td>
                <td>{{printf "%.2f" $v.PoH}}</td>
                <td>{{printf "%.2f" $v.Chus}}</td>
                <td>{{printf "%.2f" $v.SmallKeys}}</td>
                <td>{{printf "%.2f" $v.BossKeys}}</td>
                {{if $.Payload.ExtendedStats}}
                <td>{{printf "%.2f" $v.Songs}}</td>
                <td>{{printf "%.2f" $v.Triforces}}</td>
                {{end}}
            </tr>
            {{- end -}}
        </tbody>
    </table>
</div>
{{end}}
