{{define "stats_league"}}
<div class="columns is-centered">
    <div class="column is-one-third">
        <ul>
            <li>{{t "First ladder race: %s" (.Payload.Misc.FirstLadderRace | datetime) | unsafe}}</li>
            <li>{{t "Ranked players: %d" .Payload.Misc.RankedPlayers}}</li>
            <li>{{t "Players on leaderboard: %d" .Payload.Misc.PlayersOnLeaderboard}}</li>
        </ul>
    </div>
    <div class="column is-one-third">
        <ul>
            <li>{{t "Matches played: %d" .Payload.Misc.SeedsPlayed}}</li>
            <li>{{t "Forfeits: %d" .Payload.Misc.Forfeits}}</li>
            <li>{{t "Double forfeits: %d" .Payload.Misc.DoubleForfeits}}</li>
        </ul>
    </div>
    <div class="column is-one-third">
        <ul>
            <li>{{t "Average players per race: %d" .Payload.Misc.AveragePlayersPerRace}}</li>
            <li>{{t "Most players in a race: %d" .Payload.Misc.MostPlayersInARace}}</li>
            <li>{{t "Total time played: %s" .Payload.Misc.TotalSeedTime}}</li>
        </ul>
    </div>
</div>

<div class="columns is-centered">
    <div class="column is-half">
        <table class="table stats--attendance">
            <caption>{{t "Attendance (avg.)"}}</caption>
            <tr>
                <th>UTC</th>

                <th>{{t "Monday"}}</th>
                <th>{{t "Tuesday"}}</th>
                <th>{{t "Wednesday"}}</th>
                <th>{{t "Thursday"}}</th>
                <th>{{t "Friday"}}</th>
                <th>{{t "Saturday"}}</th>
                <th>{{t "Sunday"}}</th>
            </tr>

            {{- range $v := .Payload.Attendance -}}
            <tr>
                <th>{{$v.From}}-{{$v.To}}</th>

                <td style="background-color: {{index $v.Color 0}}">{{(index $v.Average 0) | ignoreZero}}</td>
                <td style="background-color: {{index $v.Color 1}}">{{(index $v.Average 1) | ignoreZero}}</td>
                <td style="background-color: {{index $v.Color 2}}">{{(index $v.Average 2) | ignoreZero}}</td>
                <td style="background-color: {{index $v.Color 3}}">{{(index $v.Average 3) | ignoreZero}}</td>
                <td style="background-color: {{index $v.Color 4}}">{{(index $v.Average 4) | ignoreZero}}</td>
                <td style="background-color: {{index $v.Color 5}}">{{(index $v.Average 5) | ignoreZero}}</td>
                <td style="background-color: {{index $v.Color 6}}">{{(index $v.Average 6) | ignoreZero}}</td>
            </tr>
            {{- end -}}
        </table>
    </div>
    <div class="column is-half has-text-centered">
        <p>{{t "Ratings distribution"}}</p>
        <img src="{{uri "stats" $.Payload.ShortCode "graph" "ratings.svg" }}">
    </div>
</div>

<div class="columns is-centered">
    <div class="column">
        <p>{{t "Seed completion time"}}</p>
        <img src="{{uri "stats" $.Payload.ShortCode "graph" "seedtime.svg" }}">
    </div>
</div>

{{end}}
