{{define "stats_woth_barren"}}
<div class="columns is-centered">
    <div class="column is-one-third">
        <h4 class="title">{{t .Locale "Way of the Hero"}}</h4>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <td>{{t .Locale "Location"}}</td>
                    <td>{{t .Locale "% of seeds"}}</td>
                </tr>
            </thead>
            <tbody>
                {{- range $v := .Payload.Seed.WOTH -}}
                <tr> <td>{{$v.Name}}</td> <td>{{printf "%.2f" $v.Pct}}</td> </tr>
                {{- end -}}
            </tbody>
        </table>
    </div>

    <div class="column is-one-third">
        <h4 class="title">{{t .Locale "WoTH items"}}</h4>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <td>{{t .Locale "Item"}}</td>
                    <td>{{t .Locale "% of seeds"}}</td>
                </tr>
            </thead>
            <tbody>
                {{- range $v := .Payload.Seed.WOTHItems -}}
                <tr> <td>{{$v.Name}}</td> <td>{{printf "%.2f" $v.Pct}}</td> </tr>
                {{- end -}}
            </tbody>
        </table>
    </div>

    <div class="column is-one-third">
        <h4 class="title">{{t .Locale "Barren regions"}}</h4>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <td>{{t .Locale "Region"}}</td>
                    <td>{{t .Locale "% of seeds"}}</td>
                </tr>
            </thead>
            <tbody>
                {{- range $v := .Payload.Seed.Barren -}}
                <tr> <td>{{$v.Name}}</td> <td>{{printf "%.2f" $v.Pct}}</td> </tr>
                {{- end -}}
            </tbody>
        </table>
    </div>
</div> <!-- columns -->
{{end}}
