{{define "stats_woth_barren"}}
<div class="columns is-centered long-table-container">
    <div class="column is-one-third">
        <h4 class="title sticky">{{t .Locale "Ways of the Hero"}}</h4>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>{{t .Locale "Location"}}</th>
                    <th class="has-text-right">{{t .Locale "% of seeds"}}</th>
                </tr>
            </thead>
            <tbody>
                {{- range $v := .Payload.Seed.WOTH -}}
                <tr> <td>{{$v.Name}}</td> <td>{{printf "%.2f" $v.Pct}}</td> </tr>
                {{- end -}}
            </tbody>
        </table>
    </div>

    <div class="column is-one-third">
        <h4 class="title sticky">{{t .Locale "WoTH items"}}</h4>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>{{t .Locale "Item"}}</th>
                    <th class="has-text-right">{{t .Locale "% of seeds"}}</th>
                </tr>
            </thead>
            <tbody>
                {{- range $v := .Payload.Seed.WOTHItems -}}
                <tr> <td>{{$v.Name}}</td> <td>{{printf "%.2f" $v.Pct}}</td> </tr>
                {{- end -}}
            </tbody>
        </table>
    </div>

    <div class="column is-one-third">
        <h4 class="title sticky">{{t .Locale "Barren regions"}}</h4>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>{{t .Locale "Region"}}</th>
                    <th class="has-text-right">{{t .Locale "% of seeds"}}</th>
                </tr>
            </thead>
            <tbody>
                {{- range $v := .Payload.Seed.Barren -}}
                <tr> <td>{{$v.Name}}</td> <td>{{printf "%.2f" $v.Pct}}</td> </tr>
                {{- end -}}
            </tbody>
        </table>
    </div>
</div> <!-- columns -->
{{end}}
