/* {{{ Global */
:root {
    --color-white: #ffffff;
    --color-body-bg-color: #fdfdff;
    --color-light-gray-blue: rgb(247, 250, 252);
    --color-gold: rgb(220, 172, 38);
    --color-gold-dark: rgb(191, 140, 0);
    --color-bg-gold: rgb(253, 241, 220);
    --color-silver: rgb(200, 200, 196);
    --color-silver-dark: rgb(145, 145, 145);
    --color-bg-silver: rgb(249, 249, 248);
    --color-bronze: rgb(189, 126, 84);
    --color-bronze-dark: rgb(156, 82, 33);
    --color-bg-bronze: rgb(242, 225, 215);
}

body {
    background-color: var(--body-bg-color);
    font-family: "Avenir", "Ubuntu", "Noto Sans", "Segoe UI", sans-serif;
}
#mainMenu .navbar-item { font-weight: bold; }

/* Fix uglyness */
.message .message-body > ul {
    margin-top: 0;
}

.js-table-sortable th {
    cursor: pointer;
}
.js-table-sortable th:hover {
    color: gray;
}

.js-table-sortable span {
    /* avoid column resize when adding the arrows */
    position: absolute;
}

.long-table-container .sticky {
    position: sticky;
    top: 0px;
    background-color: white;
    border-bottom: 1px grey solid;
    padding-bottom: 4px;
}

/* }}} Global */

/* {{{ Homepage */
.homeHeader {
    background-color: #2a2a72;
    background-image: linear-gradient(
        to right bottom,
        rgba(42, 42, 114, 1),
        rgba(0, 159, 253, 1)
    );
}

.message.nextRace--registration {
    position: absolute;
    left: 15px;
    bottom: 0;
    margin-bottom: 0;

    z-index: 1;

    transform: translateY(25%);
}

.nextRace--registration .message-body {
    padding: .5rem 1rem;
    line-height: 30px;
}
.nextRace--registration .button { margin-left: 1rem; }

.nextRace--status {
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 2;

    transform: translate(0, -50%);
}

.nextRace--contextual {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;

    overflow: hidden;
}

div[class^="nextRace--contextual--"] {
    padding-right: 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;

    font-size: 2rem;
    font-weight: bold;
    text-align: right;
    opacity: .5;
}
div[class^="nextRace--contextual--"] > div {
    padding-bottom: 10px;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: uppercase;
}
div[class^="nextRace--contextual--"] > i {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 90px;
    font-size: 8rem;
    color: #505aff;
    opacity: .2;
    z-index: -1;

    transform: translate(-50%, -40%);
}

.nextRace--contextual--players > div > .nbPlayers {
    display: block;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 900;

}
.nextRace--contextual--countdown > div > span {
    display: block;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 900;
    text-transform: none;
}

.nextRace.is-mini {
    padding: .5rem 1.25rem;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.03),0 0 0 1px rgba(10,10,10,.02);
}
.nextRace.is-mini .subtitle { margin-bottom: 0; }
.nextRace.is-mini div[class^="nextRace--contextual--"] > div {
    padding-bottom: .5rem;
    font-size: .8rem;
    line-height: .8rem;
}
.nextRace.is-mini div[class^="nextRace--contextual--"] > i {
    height: 45px;
    font-size: 4rem;
}
.nextRace.is-mini .nextRace--contextual--countdown > div > span {
    font-size: 2rem;
    line-height: 2rem;
}

@media screen and (max-width:768px) {
    .nextRace:not(.is-mini) .subtitle { margin-bottom: 3.5rem; }
    .nextRace--status { right: 25px; }
    .nextRace--contextual {
        width: 100%;
        z-index: 0;
    }
    .nextRace:not(.is-mini) div[class^="nextRace--contextual--"] > i {
        font-size: 5rem;
        transform: translate(-40%, 10%);
    }
    .nextRace:not(.is-mini) .nextRace--contextual--players > div > .nbPlayers {
        font-size: 3rem;
        line-height: 3rem;
    }
    .nextRace:not(.is-mini) div.nextRace--contextual--countdown {
        padding-left: 1rem;
        padding-right: 0;
        left: 0;
        right: unset;
        text-align: left;
    }
    .nextRace:not(.is-mini) .nextRace--contextual--countdown > div > span {
        font-size: 2rem;
        line-height: 2rem;
    }
    .nextRace:not(.is-mini) div.nextRace--contextual--countdown > i {
        right: unset;
        left: 0;

        transform: translate(40%, 10%);
    }
}

/* Do NOT name this "leaderboard", it trips an adblocker rule. */
.ldbrd { margin-bottom: 2rem; }
.ldbrd--players {
    text-align: center;
}
.ldbrd--players .player {
    font-weight: bold;
    line-height: normal;
}

.ldbrd--players .player:nth-child(1) { font-size: 2.5rem; }
.ldbrd--players .player:nth-child(2) { font-size: 1.75rem; }
.ldbrd--players .player:nth-child(3) { font-size: 1.5rem; }

.ldbrd--players .player:nth-child(1) i { color: var(--color-gold); }
.ldbrd--players .player:nth-child(2) i { color: var(--color-silver); }
.ldbrd--players .player:nth-child(3) i { color: var(--color-bronze); }

/* }}} Homepage */

/* {{{ Leaderboard */
table[class*="leaderboardTable"] thead th,
table[class*="leaderboardTable"] tbody td { border-width: 0; }
table[class*="leaderboardTable"] tbody td:first-child {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}
table[class*="leaderboardTable"] tbody td:last-child {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}
table[class*="leaderboardTable"].is-striped tbody tr:not(.is-selected):nth-child(even) { background-color: var(--color-light-gray-blue); }
table[class*="leaderboardTable"].is-striped tbody tr:not(.is-selected):nth-child(odd) { background-color: var(--color-white); }

.leaderboardTable__first-page.is-striped tbody tr.leaderboardTable--player:not(.is-selected):nth-child(1) { color: var(--color-gold-dark); }
.leaderboardTable__first-page.is-striped tbody tr.leaderboardTable--player:not(.is-selected):nth-child(1) td:first-child { background-color: var(--color-bg-gold); }
.leaderboardTable__first-page.is-striped tbody tr.leaderboardTable--player:not(.is-selected):nth-child(1) td:nth-child(2) {
    background-image: linear-gradient(
        to right,
        rgba(253, 241, 220, 1),
        rgba(253, 241, 220, 0)
    );
}
.leaderboardTable__first-page.is-striped tbody tr.leaderboardTable--player:not(.is-selected):nth-child(2) { color: var(--color-silver-dark); background-color: white; }
.leaderboardTable__first-page.is-striped tbody tr.leaderboardTable--player:not(.is-selected):nth-child(2) td:first-child { background-color: rgba(229, 229, 228, 1); }
.leaderboardTable__first-page.is-striped tbody tr.leaderboardTable--player:not(.is-selected):nth-child(2) td:nth-child(2) {
    background-image: linear-gradient(
        to right,
        rgba(229, 229, 228, 1),
        white
    );
}
.leaderboardTable__first-page.is-striped tbody tr.leaderboardTable--player:not(.is-selected):nth-child(3) { color: var(--color-bronze); }
.leaderboardTable__first-page.is-striped tbody tr.leaderboardTable--player:not(.is-selected):nth-child(3) td:first-child { background-color: var(--color-bg-bronze); }
.leaderboardTable__first-page.is-striped tbody tr.leaderboardTable--player:not(.is-selected):nth-child(3) td:nth-child(2) {
    background-image: linear-gradient(
        to right,
        rgba(242, 225, 215, 1),
        rgba(242, 225, 215, 0)
    );
}

.leaderboardTable--player:nth-child(1) td { font-weight: 900; }
.leaderboardTable--player:nth-child(2) td,
.leaderboardTable--player:nth-child(3) td { font-weight: 700; }

.iconLeaderBoard {
    overflow: hidden;
    width: 100%;
    text-align: right;
}
.iconLeaderBoard svg {
    width: 100%;
    position: absolute;
    top: 50%;
    left: -1.5rem;
    opacity: .15;
    fill: transparent;
    stroke-linecap: square;

    transform: rotate(10deg) scale(1.2) translate(0, -35%);
    transform-origin: center center;
}
.leaderboardTable--player:nth-child(1) .iconLeaderBoard svg {
    max-width: 9rem;
    stroke: var(--color-gold-dark);
}
.leaderboardTable--player:nth-child(2) .iconLeaderBoard svg {
    max-width: 7rem;
    stroke: var(--color-silver-dark);
 }
.leaderboardTable--player:nth-child(3) .iconLeaderBoard svg {
    max-width: 6rem;
    stroke: var(--color-bronze-dark);
}

table[class*="leaderboardTable"] .leaderboardTable--player .leaderboardTable--stream { vertical-align: middle; }
.leaderboardTable--player .StreamLink {
    width: 24px;
    height: 24px;
}
.leaderboardTable--player .StreamLink::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;

    background-image: url('../svg/live-generic.svg');
    background-size: 24px 24px;
}
.leaderboardTable--player .StreamLink[href*="twitch"]::before { background-image: url('../svg/live-twitch.svg'); }
.leaderboardTable--player .StreamLink[href*="youtu"]::before { background-image: url('../svg/live-youtube.svg'); }
.leaderboardTable--player .StreamLink[href*="mixer"]::before { background-image: url('../svg/live-mixer.svg'); }

table[class*="leaderboardTable"] .Ranking { position: relative; }
table[class*="leaderboardTable"] .leaderboardTable--player .leaderboardTable--forfeits { position: relative; }
table[class*="leaderboardTable"] .leaderboardTable--player .leaderboardTable--forfeits .iconLeaderBoard.noFFReward img {
    position: absolute;
    top: 75%;
    right: 0;
    left: inherit;
    width: 2rem;
    opacity: 0;
    transform: rotate(10deg) scale(1.2) translate(0, -35%);
    transition: opacity ease-in-out 150ms;
}
table[class*="leaderboardTable"] .leaderboardTable--player:hover .leaderboardTable--forfeits .iconLeaderBoard.noFFReward img { opacity: .2; }
table[class*="leaderboardTable"] .leaderboardTable--player .Ranking--deviation {
    margin-top: -5px;
    margin-left: .5rem;
    vertical-align: middle;
    opacity: .6;
}

@media only screen and (min-width: 769px){
    .table[class*="leaderboardTable"] td,
    .table[class*="leaderboardTable"] th {
        padding: .75rem;
    }
    .leaderboardTable__first-page .leaderboardTable--player:nth-child(1) td { font-size: 2rem; }
    .leaderboardTable__first-page .leaderboardTable--player:nth-child(2) td { font-size: 1.5rem; }
    .leaderboardTable__first-page .leaderboardTable--player:nth-child(3) td { font-size: 1.25rem; }
}

@media only screen and (max-width: 768px){
    .table[class*="leaderboardTable"] td,
    .table[class*="leaderboardTable"] th {
        padding: .5rem;
    }
    table[class*="leaderboardTable"] tbody td:nth-child(4) {
        border-top-right-radius: 2em;
        border-bottom-right-radius: 2em;
    }
    .leaderboardTable__first-page .leaderboardTable--player td { font-size: .8rem; }
    .leaderboardTable__first-page .leaderboardTable--player:nth-child(1) td { font-size: 1.1rem; }
    .leaderboardTable__first-page .leaderboardTable--player:nth-child(2) td { font-size: 1rem; }
    .leaderboardTable__first-page .leaderboardTable--player:nth-child(3) td { font-size: .9rem; }

    .leaderboardTable--player .StreamLink::before {
        width: 20px;
        height: 20px;

        background-size: 20px 20px;
    }
}
/* }}} Leaderboard */

/* {{{ Schedule */
.upcomingRace--title {
    padding-left: 1rem;
    font-size: 3.6rem;
    font-weight: 900;
    text-transform: uppercase;

    transform: translateY(65%);

    opacity: .2;
}

@media only screen and (max-width: 1215px) {
    .upcomingRace--title { transform: translateY(30%); }
}
/* }}} Schedule */

/* {{{ Stats */
.stats table thead th,
.stats table tbody td {
    text-align: right;
}

.stats table thead th:first-child,
.stats table tbody td:first-child {
    text-align: left;
}

.stats--tabs {
    margin-bottom: 20px;
}

table.stats--attendance {
    margin: auto;
}
table.table.stats--attendance td {
    border: none;
}
/* }}} Stats */

/* {{{ Spoilers */
ul.spoilers--hash {
    padding-top: 10px;
}

ul.spoilers--hash li {
    display: inline;
}

.spoilers--tabs {
    margin-bottom: 20px;
}
/* }}} Spoilers */
