{{define "content"}}
<section class="hero is-dark is-fullheight homeHeader">
    <div class="hero-head">
        {{- template "menu" . -}}
    </div>

    <div class="hero-body">
        <div class="container">
            <article class="message is-danger">
                <div class="message-body">
                    {{if eq .Payload.HTTPCode 404}}
                        {{t "The page you requested does not exist."}}
                    {{else if eq .Payload.HTTPCode 403}}
                        {{t "This page is not available yet."}}
                        {{if not .AuthenticatedPlayer }}
                        {{tmd "[Log in](/auth/oauth2/discord) if you are attempting to access your own active races."}}
                        {{end}}
                    {{else if eq .Payload.HTTPCode 500}}
                        {{t "An internal error occured."}}
                    {{else}}
                        {{t "Error %d" .Payload.HTTPCode}}
                    {{end}}
                </div>
            </article>
        </div>
    </div>
</section>
{{end}}
