{{define "content"}}
    <section class="hero is-dark homeHeader">
        <div class="hero-head">
            {{- template "menu" . -}}
        </div>

        <div class="hero-body">
            <div class="container">
                <h1 class="title">Historique</h1>
                <h2 class="subtitle">Liste des courses OoTR Ladder terminées</h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-two-thirds">
                    <table class="table is-fullwidth is-hoverable pastRacesTables">
                        <thead>
                            <th align="center">Ligue</th>
                            <th>Date</th>
                            <th align="center"><span class="icon"><i class="ri-group-fill"></i></span></th>
                            <th><!-- When we will have the detail of past races --></th>
                        </thead>
                        <tbody>
                            <tr class="pastRacesTables--race">
                                <td align="center">Standard</td>
                                <td>2020-05-05 20:15:00 +0200 +0200</td>
                                <td align="center"><span class="tag is-dark is-rounded has-text-weight-bold"><i class="ri-group-line"></i> 12</span></td>
                                <td class="pastRacesTables--race__detail">&nbsp;</td>
                            </tr>
                            <tr class="pastRacesTables--race">
                                <td align="center">Standard</td>
                                <td>2020-05-05 20:15:00 +0200 +0200</td>
                                <td align="center"><span class="tag is-dark is-rounded has-text-weight-bold"><i class="ri-group-line"></i> 12</span></td>
                                <td class="pastRacesTables--race__detail">&nbsp;</td>
                            </tr>
                            <tr class="pastRacesTables--race">
                                <td align="center">Standard</td>
                                <td>2020-05-05 20:15:00 +0200 +0200</td>
                                <td align="center"><span class="tag is-dark is-rounded has-text-weight-bold"><i class="ri-group-line"></i> 12</span></td>
                                <td class="pastRacesTables--race__detail">&nbsp;</td>
                            </tr>
                            <tr class="pastRacesTables--race">
                                <td align="center">Standard</td>
                                <td>2020-05-05 20:15:00 +0200 +0200</td>
                                <td align="center"><span class="tag is-dark is-rounded has-text-weight-bold"><i class="ri-group-line"></i> 12</span></td>
                                <td class="pastRacesTables--race__detail">&nbsp;</td>
                            </tr>
                            <tr class="pastRacesTables--race">
                                <td align="center">Standard</td>
                                <td>2020-05-05 20:15:00 +0200 +0200</td>
                                <td align="center"><span class="tag is-dark is-rounded has-text-weight-bold"><i class="ri-group-line"></i> 12</span></td>
                                <td class="pastRacesTables--race__detail">&nbsp;</td>
                            </tr>
                            <tr class="pastRacesTables--race">
                                <td align="center">Standard</td>
                                <td>2020-05-05 20:15:00 +0200 +0200</td>
                                <td align="center"><span class="tag is-dark is-rounded has-text-weight-bold"><i class="ri-group-line"></i> 12</span></td>
                                <td class="pastRacesTables--race__detail">&nbsp;</td>
                            </tr>
                            <tr class="pastRacesTables--race">
                                <td align="center">Standard</td>
                                <td>2020-05-05 20:15:00 +0200 +0200</td>
                                <td align="center"><span class="tag is-dark is-rounded has-text-weight-bold"><i class="ri-group-line"></i> 12</span></td>
                                <td class="pastRacesTables--race__detail">&nbsp;</td>
                            </tr>
                            <tr class="pastRacesTables--race">
                                <td align="center">Standard</td>
                                <td>2020-05-05 20:15:00 +0200 +0200</td>
                                <td align="center"><span class="tag is-dark is-rounded has-text-weight-bold"><i class="ri-group-line"></i> 12</span></td>
                                <td class="pastRacesTables--race__detail">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{{end}}
