{{define "content"}}
<section class="hero is-dark is-fullheight homeHeader">
    <div class="hero-head">
        {{- template "menu" . -}}
    </div>

    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered is-variable is-8">
                <div class="column is-two-thirds">
                    {{if .Payload.MatchSessions}}
                        <h2 class="title is-1">{{t .Locale "Next races"}}</h2>
                    
                        {{range $k, $v := .Payload.MatchSessions}}
                            <div class="box is-relative nextRace">
                                <div class="title has-text-dark nextRace--league">{{tf $.Locale "%s league" (index $.Payload.Leagues $v.LeagueID).Name}}</div>
                                <div class="subtitle has-text-dark is-size-6-mobile nextRace--schedule">{{$v.StartDate | datetime}}</div>
        
                                <!-- if joinable race -->
                                <div class="is-unselectable nextRace--status">
                                    {{matchSessionStatusTag $.Locale $v.Status}}
                                    {{if future $v.StartDate}}
                                        {{if gt (len $v.PlayerIDs) 0}}
                                            <span class="tag is-info is-light is-medium is-rounded is-hidden-mobile">{{tf $.Locale "Starts in %s" (until $v.StartDate "m")}}</span>
                                        {{end}}
                                    {{end}}
                                </div>
                                <div class="is-unselectable nextRace--contextual">
                                    <!-- when the race isn't joinable yet or if we are in a joinable race case on a mobile device  -->
                                    {{if future $v.StartDate}}
                                        {{if eq (len $v.PlayerIDs) 0}}
                                            <div class="nextRace--contextual--countdown">
                                        {{else}}
                                            <div class="nextRace--contextual--countdown is-hidden-desktop">
                                        {{end}}
                                        <i class="ri-time-line"></i>
                                        <div>
                                            dans <span>{{until $v.StartDate "m"}}</span>
                                        </div>
                                    </div>
                                    {{end}}
                                    <!-- if joinable race and has at least one player -->
                                    {{if gt (len $v.PlayerIDs) 0}}
                                        <div class="nextRace--contextual--players">
                                            <i class="ri-group-fill"></i>
                                            <div>
                                                <span class="nbPlayers">{{len $v.PlayerIDs}}</span>
                                                {{if gt (len $v.PlayerIDs) 1}}
                                                    joueurs
                                                {{else}}
                                                    joueur
                                                {{end}}
                                            </div>
                                        </div>
                                    {{end}}
                                </div>
                            </div>
                        {{end}}
                    {{else}}
                        <article class="message is-danger">
                            <div class="message-body">
                                {{t .Locale "There is no scheduled race right now."}}
                            </div>
                        </article>
                    {{end}}

                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="buttons">
                                <a href="#" class="button is-outlined is-white is-small is-rounded is-mobile-fullwidth detailButton">
                                    <span class="icon">
                                        <i class="ri-calendar-2-fill"></i>
                                    </span>
                                    <span>{{t .Locale "Scheduled races"}}</span>
                                </a>
                            </div>
                        </div>

                        <div class="level-right">
                            <a href="#" class="button is-outlined is-white is-small is-rounded is-mobile-fullwidth detailButton">
                                <span class="icon">
                                    <i class="ri-history-line"></i>
                                </span>
                                <span>{{t .Locale "Races history"}}</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="column has-text-centered">
                    <h2 class="title">{{t .Locale "Leaderboard"}}</h2>
                    <h3 class="subtitle">{{t .Locale "Standard league"}}</h3>

                    <div class="leaderboard">
                        <div class="leaderboard--players">
                            {{range $i, $v := .Payload.Top20}}
                                {{if lt $i 3}}
                                    <div class="player">
                                        <span class="icon"><i class="ri-trophy-fill"></i></span> {{$v.PlayerName}}
                                    </div>
                                {{end}}
                            {{end}}
                        </div>
                    </div>

                    <a href="#" class="button is-outlined is-white is-fullwidth is-rounded detailButton">
                        <span class="icon">
                            <i class="ri-trophy-line"></i>
                        </span>
                        <span>{{t .Locale "Full leaderboard"}}</span>
                    </a>
                </div>
            </div>
        </div>
</section>
{{end}}
