{{define "content"}}
    <section class="hero is-dark homeHeader">
        {{template "menu"}}

        <div class="hero-body">
            <div class="container">
                <h1 class="title">Classement</h1>
                <h2 class="subtitle">Ligue Standard</h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-two-thirds">
                    <table class="table is-fullwidth is-hoverable is-unselectable leaderboardTable__first-page">
                        <thead>
                            <th><!-- Rang --></th>
                            <th align="center">Pseudo</th>
                            <th align="center">Points</th>
                            <th align="center" class="is-hidden-touch">V.</th>
                            <th align="center" class="is-hidden-touch">D.</th>
                            <th align="center" class="is-hidden-touch">N.</th>
                        </thead>
                        <tbody>
                            <tr class="leaderboardTable--player">
                                <td align="center"><span class="icon"><i class="ri-trophy-fill"></i></span></td>
                                <td align="center">Bonooru_</td>
                                <td align="center">1234 <span class="tag is-success is-rounded"><i class="ri-arrow-right-up-line"></i> 123</span></td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                            </tr>
                            <tr class="leaderboardTable--player">
                                <td align="center"><span class="icon"><i class="ri-trophy-fill"></i></span></td>
                                <td align="center">Xef199221</td>
                                <td align="center">1234 <span class="tag is-danger is-rounded"><i class="ri-arrow-right-down-line"></i> 400</span></td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                            </tr>
                            <tr class="leaderboardTable--player">
                                <td align="center"><span class="icon"><i class="ri-trophy-fill"></i></span></td>
                                <td align="center">Nephistoss</td>
                                <td align="center">1234 <span class="tag is-success is-rounded"><i class="ri-arrow-right-up-line"></i> 123</span></td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                            </tr>
                            <tr class="leaderboardTable--player">
                                <td align="center">4</td>
                                <td align="center">Pseudoàlacon</td>
                                <td align="center">1234</td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                            </tr>
                            <tr class="leaderboardTable--player">
                                <td align="center">5</td>
                                <td align="center">Pseudoàlacon</td>
                                <td align="center">1234 <span class="tag is-success is-rounded"><i class="ri-arrow-right-up-line"></i> 123</span></td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                            </tr>
                            <tr class="leaderboardTable--player">
                                <td align="center">6</td>
                                <td align="center">Pseudoàlacon</td>
                                <td align="center">1234</td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                            </tr>
                            <tr class="leaderboardTable--player">
                                <td align="center">7</td>
                                <td align="center">Pseudoàlacon</td>
                                <td align="center">1234</td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                            </tr>
                            <tr class="leaderboardTable--player">
                                <td align="center">8</td>
                                <td align="center">Pseudoàlacon</td>
                                <td align="center">1234</td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                            </tr>
                            <tr class="leaderboardTable--player">
                                <td align="center">9</td>
                                <td align="center">Pseudoàlacon</td>
                                <td align="center">1234</td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                            </tr>
                            <tr class="leaderboardTable--player">
                                <td align="center">10</td>
                                <td align="center">Pseudoàlacon</td>
                                <td align="center">1234</td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                                <td align="center" class="is-hidden-touch">1</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="is-size-7 has-text-grey-light has-text-right">Dernière mise à jour : 09-05-2020 00h55m</p>
                </div>
            </div>
        </div>
    </section>
{{end}}
