{{define "content"}}
<section class="hero SiteHeader--documentation">
    <div class="hero-head">
        {{- template "menu" . -}}
    </div>

    <div class="hero-body">
        <div class="container">
            <h1 class="PageTitle">{{.Payload.Title}}</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="content column is-three-quarters">
                {{.Payload.Markdown}}
            </div>
        </div>
    </div>
</section>

{{- template "footer" . -}}
{{end}}
