{{define "content"}}
<section class="hero is-dark homeHeader">
    <div class="hero-head">
        {{- template "menu" . -}}
    </div>

    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{t .Locale "Session recap"}}</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column">
                <h2 class="title">{{t .Locale "%s league" .Payload.League.Name}}</h2>
                <h3 class="subtitle">{{t .Locale "Race started at %s" (.Payload.MatchSession.StartDate | datetime) | unsafe}}</h3>
            </div>

            {{template "past_matches" .}}
        </div>
    </div>
</section>

{{end}}
