{{define "content"}}
<section class="hero is-dark homeHeader">
    <div class="hero-head">
        {{- template "menu" . -}}
    </div>

    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{ .Payload.Player.Name }}</h1>
            <span class="subtitle">{{ t .Locale "Climbing the ladder since %s" (date .Payload.Player.CreatedAt) }}</span>
        </div>
    </div>
</section>

<section class="container">
    {{ range $v := .Payload.PlayerStats.Performances }}
    <h2 class="title">{{ (index $.Payload.Leagues $v.LeagueID).Name }}</h2>
    <div class="columns">
        <div class="column">
            <img
                src="{{ uri $.Locale "player" $.Payload.Player.Name "graph" (index $.Payload.Leagues $v.LeagueID).ShortCode "rating.svg" }}"
                alt="{{ t $.Locale "ratings graph" }}"
            >
        </div>
        <div class="column">{{ $v.WLGraph }}</div>
    </div>
    <div class="columns">
        <div class="column">
            <img
                src="{{ uri $.Locale "player" $.Payload.Player.Name "graph" (index $.Payload.Leagues $v.LeagueID).ShortCode "seedtime.svg" }}"
                alt="{{ t $.Locale "seed completion time graph" }}"
            >
        </div>
    </div>
    {{end}}
</section>

<section class="container">
    <h2 class="title">{{t .Locale "Past races"}}</h2>
    <div class="container">
        <div class="columns is-multiline">
            {{template "past_matches" .}}
        </div>
    </div>
</section>

{{end}}
