{{define "content"}}
<section class="hero SiteHeader--sessions">
    <div class="hero-head">
        {{- template "menu" . -}}
    </div>

    <div class="hero-body">
        <div class="container">
            <h1 class="PageTitle">{{t .Locale "Session recap"}}</h1>
            <div class="heading">{{t .Locale "%s league" .Payload.League.Name}} - {{t .Locale "Race started at %s" (.Payload.MatchSession.StartDate | datetime) | unsafe}}</div>
        </div>
    </div>

    <div class="container HeaderIcon">
        <div class="HeaderIcon--icon"></div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered is-multiline">

            {{template "past_matches" .}}
        </div>
    </div>
</section>

{{- template "footer" . -}}
{{end}}
