{{define "content"}}
    <section class="hero is-dark homeHeader">
        <div class="hero-head">
            {{- template "menu" . -}}
        </div>

        <div class="hero-body">
            <div class="container">
                <h1 class="title">{{t .Locale "Schedule"}}</h1>
                <div class="columns is-centered">
                    <div class="column is-two-thirds">

                    {{if .Payload.MatchSessions}}
                        {{if future (index .Payload.MatchSessions 0).StartDate}}
                            <h2 class="title is-unselectable upcomingRace--title">{{t .Locale "Upcoming race"}}</h2>
                        {{else}}
                            <h2 class="title is-unselectable upcomingRace--title">{{t .Locale "Current race"}}</h2>
                        {{end}}
                    {{end}}

                    {{- template "current_races" . -}}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-two-thirds">

                    <h2 class="title is-4 has-text-link">{{t .Locale "Next scheduled races" }}</h2>

                    {{range $v := .Payload.Schedules}}
                    <div class="box is-mini is-shadowless is-relative nextRace">
                        <div class="title is-4 nextRace--league">{{t $.Locale "%s league" $v.LeagueName}}</div>
                        <div class="subtitle is-6 nextRace--schedule">{{$v.StartDate | datetime}}</div>

                        <div class="nextRace--contextual">
                            <!-- if upcoming -->
                            <div class="nextRace--contextual--countdown">
                                <i class="ri-time-line"></i>
                                <div>
                                    {{t $.Locale "in"}} <span>{{until $v.StartDate "m"}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{end}}

                </div>
            </div>
        </div>
    </section>

    {{- template "footer" . -}}
{{end}}
