{{define "content"}}
    <section class="hero is-dark homeHeader">
        <div class="hero-head">
            {{template "menu"}}
        </div>

        <div class="hero-body">
            <div class="container">
                <h1 class="title">Planning</h1>
                <h2 class="subtitle">Liste des courses OoTR Ladder à venir</h2>

                <div class="columns is-centered">
                    <div class="column is-two-thirds">
                        <h3 class="title is-unselectable upcomingRace--title">Course imminente</h3>

                        <!-- Maybe we can define the homepage box as a template. Don't know -->
                        <div class="box is-relative nextRace">
                            <div class="title has-text-dark nextRace--league">Ligue <span>Standard</span></div>
                            <div class="subtitle has-text-dark is-size-6-mobile nextRace--schedule">2020-05-05 20:15:00 +0200 +0200</div>

                            <div class="is-unselectable nextRace--status">
                                <span class="tag is-success is-light is-medium is-rounded">Session accessible</span>
                                <span class="tag is-info is-light is-medium is-rounded is-hidden-mobile">Commence dans 45 minutes</span>
                            </div>
                            <div class="is-unselectable nextRace--contextual">
                                <!-- if upcoming -->
                                <div class="nextRace--contextual--countdown is-hidden-desktop">
                                    <i class="ri-time-line"></i>
                                    <div>
                                        dans <span>45m</span>
                                    </div>
                                </div>
                                <!-- if preparation -->
                                <div class="nextRace--contextual--players">
                                    <i class="ri-group-fill"></i>
                                    <div>
                                        <span class="nbPlayers">12</span>
                                        joueurs
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-two-thirds">

                    <h3 class="title is-4 has-text-link">Prochaines courses plannifiées</h3>

                    <div class="box is-mini is-relative nextRace">
                        <div class="title is-4 nextRace--league">Ligue <span>Standard</span></div>
                        <div class="subtitle is-6 nextRace--schedule">2020-05-05 20:15:00 +0200 +0200</div>

                        <div class="is-unselectable nextRace--contextual">
                            <!-- if upcoming -->
                            <div class="nextRace--contextual--countdown">
                                <i class="ri-time-line"></i>
                                <div>
                                    dans <span>2h45m</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box is-mini is-relative nextRace">
                        <div class="title is-4 nextRace--league">Ligue <span>Standard</span></div>
                        <div class="subtitle is-6 nextRace--schedule">2020-05-05 20:15:00 +0200 +0200</div>

                        <div class="is-unselectable nextRace--contextual">
                            <!-- if upcoming -->
                            <div class="nextRace--contextual--countdown">
                                <i class="ri-time-line"></i>
                                <div>
                                    dans <span>12h45m</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box is-mini is-relative nextRace">
                        <div class="title is-4 nextRace--league">Ligue <span>Standard</span></div>
                        <div class="subtitle is-6 nextRace--schedule">2020-05-05 20:15:00 +0200 +0200</div>

                        <div class="is-unselectable nextRace--contextual">
                            <!-- if upcoming -->
                            <div class="nextRace--contextual--countdown">
                                <i class="ri-time-line"></i>
                                <div>
                                    dans <span>1j45m</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box is-mini is-relative nextRace">
                        <div class="title is-4 nextRace--league">Ligue <span>Standard</span></div>
                        <div class="subtitle is-6 nextRace--schedule">2020-05-05 20:15:00 +0200 +0200</div>

                        <div class="is-unselectable nextRace--contextual">
                            <!-- if upcoming -->
                            <div class="nextRace--contextual--countdown">
                                <i class="ri-time-line"></i>
                                <div>
                                    dans <span>1j12h45m</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box is-mini is-relative nextRace">
                        <div class="title is-4 nextRace--league">Ligue <span>Standard</span></div>
                        <div class="subtitle is-6 nextRace--schedule">2020-05-05 20:15:00 +0200 +0200</div>

                        <div class="is-unselectable nextRace--contextual">
                            <!-- if upcoming -->
                            <div class="nextRace--contextual--countdown">
                                <i class="ri-time-line"></i>
                                <div>
                                    dans <span>2j45m</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{end}}
