{{define "content"}}
<section class="hero is-dark homeHeader">
    <div class="hero-head">
        {{- template "menu" . -}}
    </div>

    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{t .Locale "Shuffled Settings documentation"}}</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        {{- range $name, $entry := .Payload.Doc -}}
        <h3 class="title is-5">{{$entry.Title}} <span class="tag is-info is-rounded is-small">{{$name}}</span></h3>
            <ul class="Setting--values">
                {{- range $value := $entry.Values -}}
                    <li>
                        <span class="tag is-light is-rounded">{{$value.Value}}</span> <strong>{{$value.Title}}</strong> : {{$value.Description}}
                    </li>
                {{- end -}}
            </ul>
        {{- end -}}
    </div>
</section>
{{end}}
