{{define "content"}}
<section class="hero SiteHeader--documentation">
    <div class="hero-head">
        {{- template "menu" . -}}
    </div>

    <div class="hero-body">
        <div class="container">
            <h1 class="PageTitle">{{t "Shuffled Settings documentation"}}</h1>
        </div>
    </div>

    <div class="container HeaderIcon">
        <div class="HeaderIcon--icon"></div>
    </div>
</section>

<section class="section">
    <div class="container">
        {{- range $name, $entry := .Payload.Doc -}}
            <div class="Setting {{$name}}">
                <h3 class="Setting--title title is-4 is-size-6-touch">{{$entry.Title}}</h3>
                <div class="Setting--name tag is-info is-rounded">{{$name}}</div>

                <ul class="SettingValues">
                    {{- range $value := $entry.Values -}}
                        <li class="SettingValue">
                            <div class="SettingValue--name">
                                <strong>{{$value.Title}}</strong> <span class="tag is-light is-rounded">{{$value.Value}}</span>
                            </div>
                            <p>{{$value.Description}}</p>
                        </li>
                    {{- end -}}
                </ul>
            </div>
        {{- end -}}
    </div>
</section>

{{- template "footer" . -}}
{{end}}
