{{define "content"}}
<div class="stats">

    <section class="hero is-dark homeHeader">
        {{- template "menu" . -}}

        <div class="hero-body">
            <div class="container">
                <h1 class="title">{{t .Locale "Ladder & Seed statistics"}}</h1>
            </div>
        </div>
    </section>

    {{- template "noscript" . -}}

    <section class="section">
        <div class="container">
            <div class="tabs stats--tabs">
                <ul class="js-stats-tabs" role="tablist">
                    <li data-target=".js-stats-tab-ladder" class="is-active">
                        <a href="#ladder" role="tab" aria-controls="stats-ladder">{{t .Locale "Ladder stats"}}</a>
                    </li>
                    <li data-target=".js-stats-tab-seeds">
                        <a href="#seeds" role="tab" aria-controls="stats-seeds">{{t .Locale "WotH & barrens"}}</a>
                    </li>
                    <li data-target=".js-stats-tab-locations">
                        <a href="#locations" role="tab" aria-controls="stats-locations">{{t .Locale "Locations"}}</a>
                    </li>
                    <li data-target=".js-stats-tab-items">
                        <a href="#items" role="tab" aria-controls="stats-items">{{t .Locale "Items"}}</a>
                    </li>

                    {{if $.Payload.ExtendedStats}}
                    <li data-target=".js-stats-tab-settings">
                        <a href="#settings" role="tab" aria-controls="stats-settings">{{t .Locale "Settings"}}</a>
                    </li>
                    {{end}}

                </ul>
            </div>
        </div>

        <div class="container js-stats-tab-ladder" role="tabpanel" aria-selected="true" aria-labelledby="stats-ladder">
            {{- template "stats_league" . -}}
        </div>

        <div class="container js-stats-tab-seeds is-hidden" role="tabpanel" aria-labelledby="stats-seeds">
            {{- template "stats_woth_barren" . -}}
        </div>

        <div class="container js-stats-tab-locations is-hidden" role="tabpanel" aria-labelledby="stats-locations">
            {{- template "stats_locations" . -}}
        </div>

        <div class="container js-stats-tab-items is-hidden" role="tabpanel" aria-labelledby="stats-items">
            {{- template "stats_items" . -}}
        </div>

        {{if $.Payload.ExtendedStats}}
        <div class="container js-stats-tab-settings is-hidden" role="tabpanel" aria-labelledby="stats-settings">
            {{- template "stats_settings" . -}}
        </div>
        {{end}}
    </section>

</div> <!-- .stats -->

{{- template "footer" . -}}
<script src="{{assetURL "js/stats.js"}}" integrity="{{assetIntegrity "js/stats.js"}}" ></script>
{{end}}
